@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.symbol {
  font-size: 600%;
}

.card :nth-child(2) {
  font-size: 900%;
  text-align: center;
}

.card :nth-child(3) {
  text-align: start;
  transform: rotate(-180deg);
}

.mybtn button {
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}

.myinputs {
  color: yellow;
  font-size: large;
  margin-top: 20px;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 0;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}
